<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muzhi.camerasdk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.muzhi.camerasdk.AppData"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/camerasdk_app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.muzhi.camerasdk.MainActivity"
            android:label="@string/camerasdk_app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.muzhi.camerasdk.PhotoPickActivity" />
        <activity android:name="com.muzhi.camerasdk.AlbumActivity" />
        <activity android:name="com.muzhi.camerasdk.ImageDelActivity" />
        
    
        
        
    </application>

</manifest>